@font-face {
    font-family: Gloss_And_Bloom;
    src: url("../fonts/Gloss_And_Bloom.ttf");
}

body { 
    background-color: #E3DDDD;
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 17px;
    color: #E3DDDF;
    font-style: italic;
     word-wrap: break-word; 
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: 1em 0;
    padding: 0;
}

h1, h2, h3, h4, h5, .lead {
    font-family: Gloss_And_Bloom, sans-serif !important;
    text-shadow: 8px 3px 1px #160200;
    letter-spacing: 4px;
    color: rgba(224, 201, 218, 04);
}

.lead {
    font-size: 15px;
}

img {
    box-shadow: 5px 15px 15px #160200;
}

a, a:hover {
    text-shadow: 3px 3px 2px #000;
    letter-spacing: 2px;
    text-decoration: underline;
}

a {
    font-weight: 900;
    color: #E3DDDF;
}

    a:hover {
        color: deeppink;
    }

.home {
    background-image: url("Images/banner-magic-fly-books-1280x720.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    max-height: 500px;
    width: 100%;
    margin-top: 70px;
}

    .home h1 {
        letter-spacing: 7px;
        text-shadow: 8px 3px 1px #4A486F;
        color: ghostwhite;
         margin-top: 5%;
    }

    .home h2{  
        
        color: white;
        border-bottom: solid 1px white;
    }

    .home .lead {
        letter-spacing: 7px;
        font-weight: 900;
        text-shadow: 1px 1px 1px #4A486F; 
        color: white; 
        background-color: rgba(173, 88, 121, 0.1);
    }

    .home .store-title {
        margin-bottom: 18%;
    }

.user-body-content {
    background-image: url("Images/background_motion_1152x864.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 3%;
}

.admin{
    background-color: black;
    margin-top: 20px;
    margin-bottom: 2%;
}

.admin-body-content{
    color: black;
    font-weight: bold;
    text-shadow: none;
}

#basket-title {
    background-image: url("Images/background_motion_1152x864.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    border-radius: 10px;
}

    #basket-title h2, #basket-title h4, #basket-title h5{
        text-shadow: none;
    }

.promotion-table, #promotion-in-basket {
    background-image: url("Images/background_snowflakes_color_1_1024x768.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    border-bottom: 1px solid black; 
}

    .promotion-table div h5, #promotion-in-basket p {
        color: black !important;
        text-shadow: none;
        font-weight: bolder;
    }

.home-div, .category-div, .book-div, .book-details-div, .author-div,
#login-form, #register-form, #all-authors-table, .home-section {
    background-image: url("Images/background_motion4_1152x864.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: top;
    border-radius: 10px;
}

.error-div {
    background-color: black;
    color: yellow;
    line-height: 45px;
}

#go-top-btn {
    position: fixed;
    right: 1%;
    top: 42%;
}

#back-next-btns {
    position: fixed;
    left: 1%;
    top: 37%;
}

    #go-top-btn p, #back-next-btns p {
        border-top: solid 1px rgba(255, 255, 255, 0.5);
        border-bottom: solid 1px rgba(255, 255, 255, 0.5);
    }

.add-rating, #basket-total-price, .you-will-save {
    color: pink;
}

.old-price {
    color: black;
    text-decoration: line-through;
}

.you-will-save {
    text-decoration: underline;
}

.btn-info {
    font-size: 25px;
    font-weight: bold;
    text-shadow: 3px 3px 2px #000;
    background-color: rgba(173, 88, 121, 0.8);
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    text-decoration: none;
    font-style: normal;
}

    .btn-info:hover {
        background-color: transparent;
        color: rgba(112, 42, 61, 0.6);
        border-color: pink;
    }

.btn-default {
    background-color: rgba(22, 2, 0, 0.4);
    font-size: 18px;
    font-weight: bold;
    color: #E3DDDF;
    border-color: rgba(255, 255, 255, 0.5);
}

.btn-danger {
    background-color: rgba(206, 78, 103, 0.9);
    border-color: hotpink;
}

    .btn-danger:hover {
        background-color: transparent;
        color: deeppink;
    }

.navbar-inverse, .navbar-brand, .navbar, .nav, .navbar-right {
    background-color: black;
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
}

.navbar-nav li a {
    text-decoration: none;
}

.dropdown-menu li a, .glyphicon-chevron-left, .glyphicon-chevron-right, .glyphicon-heart {
    font-weight: bold;
    color: hotpink;
    text-shadow: none;
}

.books-list {
    background-color: rgba(22, 2, 0, 0.4);
    border-left: solid 1px rgba(243, 212, 215, 04);
    border-bottom: solid 1px rgba(243, 212, 215, 04);
    border-radius: 7px;
    margin-bottom: 10px;
}

.books-list-title {
    border-bottom: solid 1px #E3DDDF;
    border-top: solid 1px #E3DDDF;
}

.text-danger {
    color: hotpink;
    font-weight: bold;
}

/*carousel*/
.carousel-inner {
    background-color: transparent;
}

    .carousel-inner > .item > .img-box > img,
    .carousel-inner > .item-active > .img-box > img {
        max-height: 400px;
        margin: auto;
    }

/*modal*/
.modal-title, .modal-body p {
    color: black;
    text-shadow: none;
}

.modal-body .modal-div {
    border-top: 1px solid rgba(206, 78, 103, 0.9);
}

footer {
    background-color: black;
    padding: 1%;
    margin-bottom: 0;
    font-size: 14px;
    color: #E3DDDF;
}
