@model BookStore.Models.ViewModels.Book.BooksViewModel

<div class="col-md-4 col-sm-6 text-center">
    <h5>@Html.DisplayFor(b => Model.Title)</h5>
    <div class="img-box">
        <a href="/Books/Details/@Model.Id">
            <img src="@Model.ImageUrl" alt="book-img" class="img img-thumbnail" width="50%" title="See more..."/>
        </a>
    </div>
    <div class="row">
        <small>by @Html.DisplayFor(b => Model.Authors)</small>
        <p><small>@Html.DisplayFor(b => Model.Price)</small></p>
    </div>
</div>
