
@{
    ViewBag.Title = "Terms and Coditions";
}

<div class="row text-center">
    <div class="col-md-10 col-md-offset-1 home-div">
        <h3>Website terms and conditions of use</h3>
        <p>
            We recommend that you read the terms and conditions carefully and make sure you understand them
            before you purchase any Products from the Site. Please note that before placing an order for any
            Products you will be asked to agree to these terms and conditions. If you don’t accept these terms
            and conditions, you will not be able to order any Products from our Site.
        </p>
        <p>
            These terms and conditions together with our Privacy Policy set out the legal terms and conditions
            that govern our relationship and your use of the Site. Use of the Site includes accessing, browsing,
            registering for and/or purchasing any of the Products available through it. In the event of any conflict
            between these terms and conditions and the Website Terms of Service, these terms and conditions will
            prevail. We recommend that you print a copy of these terms and conditions or save a copy in your
            computer for future reference.
        </p>
    </div>
</div>
<div class="row">
    <h3 class="text-center">Purchase of goods</h3>
    <hr />
    <div class="col-md-10 col-md-offset-1 home-div">
        <h4>Placing an order</h4>
        <p>
            <small>
                You are able to correct errors on your order up to the point at which you submit your order.
                 After this point, we will assume that all information provided as part of your order is
                 correct and will process your order accordingly so please take care to check your order
                 before sending it to us.
                After you place an order, we will send you an email confirming that your order has been
                 received by our system.
            </small>
        </p>
    </div>
    
    <div class="col-md-10 col-md-offset-1 home-div">
        <h4>Prices</h4>
        <p>
            <small>
                The prices for Products will be as quoted on the Site and you will be charged the price
                 quoted on the Site at the time you place your order. Delivery charges may be payable
                 in addition to the price of a Product as detailed in the Delivery section below.
                Special offer prices are available on selected titles and offer prices are available
                 for a duration of 1 months unless otherwise stated.
            </small>
        </p>
    </div>
    
    <div class="col-md-10 col-md-offset-1 home-div">
        <h4>Payment</h4>
        <p>
            <small>
                You can pay for Product(s) using a debit card or credit card: Visa, Mastercard
                or Cash on Delivery.
            </small>
        </p>
    </div>
    <hr />
    <div class="col-md-10 col-md-offset-1 home-div">
        <h4>Delivery</h4>
        <p>
            <small>
                Delivery of an order shall be completed when we deliver the Products to the address you
                 give to us for delivery and the Products will be your responsibility from that time.
                You will own the Products once we have received payment in full including payment of any
                 delivery charges (where due). 
            </small>
        </p>
    </div>
    
    <div class="col-md-10 col-md-offset-1 home-div">
        <h4>Cancellation, refunds and returning damaged goods</h4>
        <p>
            <small>
                If you are a consumer, you have a legal right to cancel an order within the period
                 set out below, unless the Products are perishable or personalised for you in which
                 case you will not be entitled to cancel the order. The period during which you can
                 cancel starts from the date of the Order: 14 days.
            </small>
        </p>
    </div>
</div>
<div class="row">
    <h3 class="text-center">General terms connected to the use of our site</h3>
    <hr />
    <div class="col-md-10 col-md-offset-1 home-div">
        <h4>We may make changes to these terms</h4>
        <p>
            <small>
                We reserve the right to make changes to these terms and conditions, the Site,
                 the Products or any other terms governing your use of the Site at any time.
            </small>
        </p>
    </div>
    
    <div class="col-md-10 col-md-offset-1 home-div">
        <h4>We may change, suspend or withdraw our site</h4>
        <p>
            <small>
                We may update and change our Site from time to time.
                We do not guarantee that our Site, or any content on it, will always be available
                or be uninterrupted.
                We will try to give you reasonable notice of any major changes.
            </small>
        </p>
    </div>
    
    <div class="col-md-10 col-md-offset-1 home-div">
        <h4>You must keep your account details safe</h4>
        <p>
            <small>
                If you choose, or you are provided with, a user identification code, password or any
                other piece of information as part of our security procedures, you must treat such
                information as confidential. You must not disclose it to any third party. We have the
                right to disable any user identification code or password, whether chosen by you or
                allocated by us, at any time, if in our reasonable opinion you have failed to comply
                with any of the provisions of these terms of use.
            </small>
        </p>
    </div>
    
    <div class="col-md-10 col-md-offset-1 home-div">
        <h4>How you may use material on our site</h4>
        <p>
            <small>
                You must not use any part of the content on our Site for commercial purposes without
                obtaining a licence to do so from us or our licensors.
            </small>
        </p>
    </div>
    
    <div class="col-md-10 col-md-offset-1 home-div">
        <h4>Other important terms</h4>
        <p>
            <small>
                - We may transfer our rights and obligations under a Contract to another organisation,
                but this will not affect your rights or our obligations under these terms and conditions.
            </small>
        </p>
        <p>
            <small>
                - You may only transfer your rights or your obligations under these terms and conditions to
                another person if we agree to this in writing.
            </small>
        </p>
        <p>
            <small>
                - This Contract is between you and us. No other person shall have any rights to enforce any
                of its terms.
            </small>
        </p>
    </div>
    
    <div class="col-md-10 col-md-offset-1 home-div">
        <h4>Contact</h4>
        <p>
            <small>
                Questions, comments and requests regarding this privacy policy are welcomed and
                should be addressed to <a href="#">support@book-store-anglerfish.com</a>
            </small>
        </p>
    </div>
</div>
