@*back-next-btns*@
<div id="back-next-btns">
    <p>
        <input type="button"
               onclick="window.history.back()"
               value="&#x21c7;"
               class="btn btn-info btn-lg"
               title="Back">
    </p>
    <p>
        <input type="button"
               onclick="window.history.forward()"
               value="&#x21c9;"
               class="btn btn-info btn-lg"
               title="Next">
    </p>
</div>
@*top-btn*@
<div id="go-top-btn">
    <p>
        <a href="#top" class="btn btn-info btn-lg" title="Top">
            &#x21c8;
        </a>
    </p>
</div>
