<footer>
    <hr />
    <div class="row text-center">
        <div class="col-md-4">
            <div class="col-md-10 col-md-offset-1">
                <h4>About us</h4>
                <p>
                    Ante non duis amet sem tempus non, mattis volutpat suspendisse, feugiat elit nulla ligula odio,
                    nisl id nec ante rutrum viverra, dui lobortis in est aliquam.
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <h4>Contacts</h4>
            <address>
                Bulgaria, Sofia 1510<br />
                Vitosha № 42-A, 42-B<br />
                <abbr title="Phone">Phone: </abbr>
                0889.123.456
            </address>
        </div>
        <div class="col-md-5">
            <h4>Follow us in:</h4>
            <p class="lead"><a href="#">Facebook</a> | <a href="#">Tweeter</a></p>
            <address>
                <strong>Support: </strong><a href="#">Support@info.bg</a><br />
                <strong>Marketing: </strong><a href="#">Marketing@info.com</a>
            </address>
            <p>&copy; @DateTime.Now.Year - Book Store Anglerfish</p>
        </div>
    </div>
</footer>
