<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle  btn btn-default" data-toggle="dropdown">
            <img src="~/Content/Images/NavBar/search-9-64.png" class="img-rounded"/>
            <b class="caret"></b>
            <p class="carousel-caption">search</p>
        </a>
        <ul class="dropdown-menu" id="forms" style="width: 400px;">
            <li>
                <div>
                    <form method="get" action="/Categories/BooksByCategory" class="navbar-form navbar-left" role="search">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                            <input type="text" name="categoryName" class="form-control" placeholder="Search Books By Category">
                        </div>
                    </form>
                </div>
            </li>
            <li>
                <div>
                    <form method="get" action="/Authors/BooksByAuthor" class="navbar-form navbar-left" role="search">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                            <input type="text" name="authorName" class="form-control" placeholder="Search Books By Author">
                        </div>
                    </form>
                </div>
            </li>
            <li>
                <div>
                    <form method="get" action="/Books/BooksByTitle" class="navbar-form navbar-left" role="search">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                            <input type="text" name="bookTitle" class="form-control" placeholder="Search Books By Title">
                        </div>
                    </form>
                </div>
            </li>

        </ul>
    </li>
</ul>
