@model HandleErrorInfo

@{
    ViewBag.Title = "Custom Errors";
    
}

<div class="row error-div">
    <div class="col-md-10 col-md-offset-1 text-center">
        <hr />
        <h1>Error</h1>
        <div>
            <img src="~/Content/Images/Messages/customErrorsMsg.jpg" alt="error" class="img-circle" />
        </div>
        <h3>@Model.Exception.Message</h3>
        <hr />
    </div>
</div>